<div class="nav-container">
<footer class="footer-text">
    <p>© {new Date().getFullYear()} David L. Haines. All Rights Reserved.</p>
  </footer>
</div>

<style>
.footer-text {
    color: var(--nav-text-color);
    text-align: center;
  };
</style>