<div class="footer">
<footer class="mt-auto footer-text">
    <p>Copyright © {new Date().getFullYear()} David L. Haines. All Rights Reserved.</p>
  </footer>
</div>

<style>
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #57707d;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer-text {
    color: var(--nav-text-color);
    text-align: center;
  };
</style>